* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
    --secondary-color: #2e80ce;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ====================Common====================================== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 0 20px;
    min-width: 205px;
    text-align: center;
    line-height: 60px;
    border-radius: 999px;
    font-weight: 400;
    color: #fff;
    border: 1px solid transparent;
    background: var(--secondary-color);
    transition: 0.25s;
}

.btn:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: #fff;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ====================Header====================================== */
.header {
    padding: 30px 0 6px;
    background: var(--primary-color);
}

.header--sticky {
    position: sticky;
    top: -24px;
    z-index: 1;
}

.header__body {
    display: flex;
    align-items: center;
}

.header__body .logo {
    margin-right: 283px;
}

.navbar__list {
    display: flex;
}

.navbar__item a {
    position: relative;
    padding: 6px 21px;
    color: #c9d2da;
    font-weight: 300;
    line-height: 175%;
}

.navbar__item a:hover,
.navbar__item.active a {
    text-shadow: 1px 0 0 currentColor;
}

.navbar__item.active a::after {
    position: absolute;
    top: 50%;
    left: 8px;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ffffff;
    transform: translateY(-50%);
}

.header-action {
    margin-left: auto;
}

.header-action__login {
    margin-right: 28px;
    color: #c9d2da;
    font-weight: 300;
    line-height: 175%;
}

.header-action__signup {
    min-width: 104px;
    line-height: 44px;
}

/* ====================Hero====================================== */
.hero {
    height: calc(100vh - 80px);
    background: var(--primary-color);
    display: flex;
    align-items: center;
}

.hero__body {
    margin-top: -80px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__content .title {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 114.286%;
    letter-spacing: -1.4px;
}

.hero__content .desc {
    margin: 22px 0 38px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 166.667%;
}

.hero__row {
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    line-height: 166.667%;
}

.hero__media {
    width: 46%;
    margin-left: 113px;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* ====================Services====================================== */
.services {
    margin-top: 85px;
    padding: 85px 0;
}

.services__heading {
    color: var(--primary-color);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1px;
}

.services__desc {
    width: 468px;
    margin: 18px auto;
    color: #575f66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 166.667%;
}

.services__row {
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.services__content {
    width: 470px;
}

.services__list {
    margin-bottom: 55px;
}

.services__item {
    display: flex;
    align-items: flex-start;
    padding: 21px 61px 20px 22px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
}

.services__item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.services__item:hover .services__item__icon {
    color: #fff;
    background: var(--secondary-color);
}

.services__item__icon {
    margin-right: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--primary-color);
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.services__item__heading {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.services__item__desc {
    margin-top: 8px;
    color: #575f66;
    font-weight: 300;
    line-height: 175%;
}

/* ====================Features====================================== */
.features {
    margin: 85px 0;
    padding: 100px 0;
    background: #f6fbff;
}

.features__heading {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1px;
}

.features__desc {
    width: 468px;
    margin: 18px 0 86px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 166.667%;
}

.features__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.features__item {
    padding: 43px 42px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.25s;
}

.features__item:hover {
    border-color: var(--secondary-color);
    transform: translateY(-16px);
}

.features__item__heading {
    margin-top: 18px;
    color: var(--primary-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 138.462%;
}

.features__item__desc {
    margin: 28px 0 18px;
    color: #575f66;
    font-weight: 300;
    line-height: 175%;
}

.features__item a {
    color: #575f66;
    font-weight: 300;
    line-height: 175%;
}

.features__item:hover a {
    font-weight: 400;
    color: var(--secondary-color);
}

/* ====================About====================================== */
.about {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 85px 0;
}

.about__row {
    margin-top: 80px;
    display: flex;
    align-items: center;
}

.about__media {
    position: relative;
    width: 49%;
    padding: 0 58px 121px 0;
}

.about__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img:last-child {
    position: absolute;
    width: 332px;
    height: 370px;
    bottom: 0;
    right: 0;
}

.about__info {
    margin-left: 130px;
}

.about__heading {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1px;
}

.about__desc {
    margin: 18px 0 38px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 166.667%;
}
